/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import "tailwindcss";

:root {
  --primary: #e3a439;
  --secondary: #242d55;
} */

@import "tailwindcss";

/* @theme {
  --color-primary: 227 164 57;
  --color-secondary: 36 45 85;
} */
